<h1>Real Time Products</h1>
    <div id="product-list" class="containerReal">
        <!-- La lista se llenará dinámicamente con JavaScript -->
    </div>
    <h2 class="centrar-text">Agregar Producto</h2>
    <div >
        <form id="product-form" class="form">
            <input type="text" id="product-title" placeholder="Product Title" class="inputs" required>
            <input type="text" id="product-description" placeholder="Product Description" class="inputs" required>
            <input type="number" id="product-price" placeholder="Product Price" class="inputs" required>
            <input type="text" id="product-status" placeholder="Product Status" class="inputs" required>
            <input type="text" id="product-code" placeholder="Product Code" class="inputs" required>
            <input type="number" id="product-stock" placeholder="Product Stock" class="inputs" required>
            <input type="text" id="product-category" placeholder="Product Category" class="inputs" required>
            <button type="submit" class="cardButton">Add Product</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/js/main.js"></script>
