<h1>Real Time Products</h1>
    <div id="product-list">
        <p>aca tendrian que aparecer</p>
        <!-- La lista se llenará dinámicamente con JavaScript -->
    </div>
    <form id="product-form">
        <input type="text" id="product-title" placeholder="Product Title" required>
        <input type="text" id="product-description" placeholder="Product Description" required>
        <input type="number" id="product-price" placeholder="Product Price" required>
        <input type="text" id="product-status" placeholder="Product Status" required>
        <input type="text" id="product-code" placeholder="Product Code" required>
        <input type="number" id="product-stock" placeholder="Product Stock" required>
        <input type="text" id="product-category" placeholder="Product Category" required>
        <button type="submit">Add Product</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/js/main.js"></script>
