*{
padding: 0;
margin:0;
}
.container{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.card{
border-style: solid;
border-radius: 10px;
width: 30%;
padding: 10px;
margin: 10px;
text-align: center;
}
h1{
    text-align: center;
}
.containerReal{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    width: 100%;
    flex-wrap: wrap;
}
.cardReal{
display: flex;
justify-content: space-between;
flex-direction:column; 
border-style: solid;
border-radius: 10px;
width: 400px;
padding: 10px;
height: 250px;
margin-top: 15px;
margin: auto;
margin-bottom: 10px;
}
.centrar-text{
    text-align: center;
}
.cardTitulo{
    font-size: 20px;
    padding-bottom: 5px;
}
.cardButton{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}
.cardButton:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}
.form{
    display: flex;
    justify-content: space-between;
    flex-direction:column; 
    height: max-content;
    width: 30%;
    margin: auto;
}
.inputs{
    padding-bottom: 10px;
    margin-top:  10px;
    margin-bottom: 10px;
}