*{
padding: 0;
margin:0;
}
.container{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.card{
border-style: solid;
border-radius: 10px;
width: 30%;
padding: 10px;
margin: 10px;
text-align: center;
}
h1{
    text-align: center;
}
